<div class="container">
  <form class="example-form" [formGroup]="boardsForm" (ngSubmit)="onFormSubmit()">
      <span>New Contact</span>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="name" />
      <mat-error>
        <span *ngIf="!boardsForm.get('name').valid && boardsForm.get('name').touched">
          Please enter your Name
        </span>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Email" formControlName="email"></textarea>
      <mat-error>
        <span *ngIf="!boardsForm.get('email').valid && boardsForm.get('email').touched">
          Please enter your email
        </span>
      </mat-error>
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Phone" formControlName="phone" />
      <mat-error>
        <span *ngIf="!boardsForm.get('phone').valid && boardsForm.get('phone').touched">
          Please enter your phone number
        </span>
      </mat-error>
    </mat-form-field>
  
    <!-- <div class="button-row">
      <button type="submit" [disabled]="!boardsForm.valid" mat-raised-button color="primary">
          <div class="custom"><mat-icon>add_circle</mat-icon> Save</div>
      </button>
    </div> -->
  
    <div class="button-row">
        <button type="submit" class="btn btn-primary active" [disabled]="!boardsForm.valid">Submit
        </button>
      </div>
  
  </form>
  </div>